<html>
<head>
    <script>
        //function that display value
        function dis(val)
        {
            document.getElementById("result").value+=val
        }

        //function that evaluates the digit and return result
        function solve()
        {
            let x = document.getElementById("result").value
            let y = eval(x)
            document.getElementById("result").value = y
        }

        //function that clear the display
        function clr()
        {
            document.getElementById("result").value = ""
        }
    </script>
    <!-- for styling -->
    <style>
        .title{
            margin-bottom: 20px;
            margin-right: 20px;
            text-align:left;
            width: 80px;
            color:green;
            border: solid black 2px;
        }

        .main-box {
            padding: 10px;
            margin-top: 10px;
            text-align:left;
            width: 280px;
            color:green;
            border: solid black 2px;
        }

        .main-box-title {
            margin-bottom: 20px;
            text-align:center;
            width: 280px;
            color:green;
            border-bottom: solid black 1px;
        }

        .left {
            float: left;
            width: 40%;
            overflow: hidden;
        }

        .right {
            overflow: hidden;
            margin-right: 10px;
        }

        .align-right{
            alignment: right;
        }

        input[type="button"]
        {
            background-color:#eeeeee;
            color: black;
            border: solid black 2px;
            width:100%
        }

        input[type="text"]
        {
            padding-left: 2px;
            background-color:white;
            border: solid black 2px;
            width:100%
        }
    </style>
</head>
<!-- create table -->
<body>

<div class="main-box">
    <div class="main-box-title"> Calculator</div>

    {{ form_start(form) }}
    <div class="column row">
        <div class="left">{{ form_label(form.operandA) }}:</div>
        <div class="right">  {{ form_widget(form.operandA, { 'attr': {'class': 'title'} }) }}</div>
    </div>
    <div class="column row">
        <div class="left">{{ form_label(form.operandB) }}:</div>
        <div class="right">{{ form_widget(form.operandB, { 'attr': {'class': 'title'} }) }}</div>
    </div>
    <div class="column row">
        <div class="left">{{ form_label(form.operator) }}:</div>
        <div class="right">{{ form_widget(form.operator) }}</div>
    </div>
    <div class="align-right" align="right">
        {{ form_widget(form.calculate) }}
    </div>
    {{ form_end(form, {
        'render_rest': false
    }) }}

    <div class="column row">
        Answer: {{ result }}
    </div>

</div>
</body>
</html>
